* {

}

body {
    background-image: url("../playforca.github.io/background.jpg");
    background-repeat: no-repeat;
    max-width: 1200px;
    max-height: 1200px;
    }
#imagem {
    background-image: url("../playforca.github.io/forca.gif");
    position: absolute; 
	left: 850px;
	top: 170px;
    width: 310px;
    height: 365px;
}

